<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editTaskModalLabel">
                    <span data-ng-if="vm.taskFormMode === 'add'">Add Task</span>
                    <span data-ng-if="vm.taskFormMode === 'edit'">Edit Task</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="editTaskForm" novalidate>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group"
                                 data-ng-class="{ 'has-error': editTaskForm.task_identifier.$invalid && editTaskForm.task_identifier.$dirty}">
                                <label for="deployment-task_identifier">Type</label>
                                <select name="task_identifier"
                                        id="deployment-task_identifier"
                                        class="form-control"
                                        data-ng-model="vm.task.type"
                                        required>
                                    <option ng-repeat="task in vm.tasks" value="{{task.type}}">{{task.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group"
                                 data-ng-class="{ 'has-error': editTaskForm.task_name.$invalid && editTaskForm.task_name.$dirty}">
                                <label for="deployment-task_name">Name</label>
                                <input name="task_name"
                                       type="text"
                                       class="form-control"
                                       id="deployment-task_name"
                                       placeholder="My task"
                                       data-ng-model="vm.task.name"
                                       data-ng-minlength="3"
                                       data-ng-maxlength="100"
                                       required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group"
                                 data-ng-class="{ 'has-error': editTaskForm.task_run_by_default.$invalid && editTaskForm.task_run_by_default.$dirty}">
                                <label for="deployment-task_run_by_default">Run by default</label>
                                <select name="task_run_by_default"
                                        id="deployment-task_run_by_default"
                                        class="form-control"
                                        data-ng-model="vm.task.run_by_default"
                                        required>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="deployment-task_arguments">Arguments</label>
                                <textarea name="task_arguments"
                                          id="deployment-task_arguments"
                                          rows="5"
                                          class="form-control"
                                          data-ng-model="vm.task.arguments">
                                </textarea>
                                <p class="help-block">This input will be passed to the deployment task and may contain task specific configuration data.</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-success btn-sm"
                        data-ng-if="vm.taskFormMode === 'edit'"
                        data-ng-click="vm.editTask()">
                    Update
                </button>
                <button type="button"
                        class="btn btn-success btn-sm"
                        data-ng-if="vm.taskFormMode === 'add'"
                        data-ng-click="vm.addTask()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>